
body {
   font-family: ralewayregular,"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-size: 1em;
}
a {
   font-family: ralewayregular,"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   color: rgb(120, 120, 120);
   text-decoration:none;
}

p {
   font-family: ralewayregular,"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-size: 1em;
   margin: 0.1em;
   margin-left: 0.3em;
   padding: 0;
}
h2 {
   font-family: ralewayextrabold,"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-size: 1.6em;
   margin: 0.4em;
   margin-left: 0.1em;
}
h3 {
   font-family: ralewaybold,"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-size: 1.3em;
   margin: 0.3em;
   margin-left: 0.1em;
}
h4 {
   font-family: ralewaylight,"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-size: 1.2em;
   margin: 0.3em;
   margin-left: 0.1em;
}
h5 {
   font-family: ralewayregular,"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-size: 0.7em;
   margin: 0.1em;
   margin-left: 0.3em;
   color: rgb(180 ,180, 180);
}

div {
	margin: 10px;
}
#alert {
  visibility:hidden;
  display:none;
}
#usingjazz {
  visibility:hidden;
  display:none;
}
#calert {
  visibility:hidden;
}
#otherbalert {
  visibility:hidden;
}